<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="rkcrm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Customer_Relationship_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="rkcrm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Customer_Relationship_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <rkcrm.Properties.Settings>
            <setting name="IsPrototype" serializeAs="String">
                <value>True</value>
            </setting>
        </rkcrm.Properties.Settings>
        <Customer_Relationship_Manager.Properties.Settings>
            <setting name="IsPrototype" serializeAs="String">
                <value>True</value>
            </setting>
        </Customer_Relationship_Manager.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <rkcrm.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value>kimball</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>rkcrm</value>
            </setting>
            <setting name="DemoDatabase" serializeAs="String">
                <value>rkcrm_demo</value>
            </setting>
            <setting name="PrototypeDatabase" serializeAs="String">
                <value>rkcrm_prototype</value>
            </setting>
            <setting name="ReportsPath" serializeAs="String">
                <value>\\kimball\CRM Reports\</value>
            </setting>
            <setting name="MaxConnectionPool" serializeAs="String">
                <value>50</value>
            </setting>
        </rkcrm.Properties.Settings>
        <Customer_Relationship_Manager.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>rkcrm</value>
            </setting>
            <setting name="DemoDatabase" serializeAs="String">
                <value>rkcrm_demo</value>
            </setting>
            <setting name="PrototypeDatabase" serializeAs="String">
                <value>rkcrm_prototype</value>
            </setting>
        </Customer_Relationship_Manager.Properties.Settings>
    </applicationSettings>
</configuration>